#navbar{
    width: 100%;
    background-color: #a00606;

    display: flex;
    align-items: center;
    color: #d1cfd5;
    /* justify-content: space-between; */
    text-decoration: none;
}
body{
    margin: 0px;
}
#navbar>#f{
    width: 55%;
   
    
    display: flex;
    justify-content: space-around;
   margin-left: 12%;
}


#s{
    width: 19%;
  
    height: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    margin-left: 140px;
    font-size: 25px;
    justify-content: space-around;
    color: white;
}
#navbar a{
    text-decoration: none;
    color: white;
}
#navbar>#f>button{
    height: 38px;
    width: 13%;
    background-color: #a00606;
    color: #d1cfd5;
    border: 1px solid #680101;
}
#navbar a:hover{
    color: yellow;
}

#myfeednav{
    width: 80%;
    margin: auto;
   background-color: 
   #f3f3f3 ;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
#myfeednav>button{
    height: 40px ;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #717171;
}
#myfeednav>button:hover{
    background-color:  #cdcdcd ;;
}
#s>i:hover{
    color: yellow;
}